.vscode/keybindings.txt
.servers
__pycache__
dump
virtual_one
!POCs/performance_eval/logs


acmart.cls
acmart.pdf
acmguide.pdf
docs/samples/sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
docs/samples/ACM-Reference-Format.bst
docs/samples/*.tex
docs/samples/*.bbx
docs/samples/*.cbx
docs/samples/*.dbx